@import '../../Sass/-variables.scss';

.blog-box-container {
    border: 1px solid $primary-color;
    border-radius: 5px;
    width: 32%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s;

    &:hover{
        box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.1);
        transform: scale(1.01);
    }

    .blog-img-wrapper {
        // width: 100%;
        img {
            width: 100%;
            // height: 350px;
            height: 240px;
            object-fit: cover;
        }
    }

    .blog-box-info {
        padding: 5px;

        .box-info-date-view {
            display: flex;
            justify-content: space-between;
            color: #777;
            gap: 5px;

            .info-date-wrapper {
                display: flex;
                align-items: center;
                gap: 3px;

                p {
                    font-size: 12px;
                }
            }
        }

        h3 {
            color: #333;
            margin: 5px 0;
        }

        .box-info-desc {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 14px;
            color: #777;
        }
    }
}

@media screen and (max-width:700px) {
    .blog-box-container {
        width: 100%;
    }
}

@media screen and (min-width:700px) {
    .blog-box-container {
        width: 48%;
    }
}

@media screen and (min-width:1252px) {
    .blog-box-container {
        width: 32%;
    }
}