@import '../../Sass/-variables.scss';


.guidance-container {
    background: linear-gradient(rgba(54, 54, 54, 0.6), $second-color), url("../../assets/Images/cta-bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    @include my-flex(column);
    gap: 30px;
    padding: 60px 20px;
    margin: 40px auto;

    h2 {
        font-size: 32px;
        color: white;
    }

    p{
        color: white;
        font-size: 17px;
    }

    .guidance-btn {
        @include my-button;
    }
}


@media screen and (max-width:600px) {
    .guidance-btn {
        width: 100% !important;
    }
}