@import '../../Sass/-variables.scss';


.guidance-container{
    background: linear-gradient(rgba(54, 54, 54, 0.6), $second-color), url("../../assets/Images/cta-bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    @include my-flex(column);
    gap: 30px;

}