@import '../../Sass/-variables.scss';

.productsMain-container {
    @include my-flex(column);
    width: 90%;
    margin: 40px auto;

    h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 30px;
    }


    .productMain-wrapper {
        display: flex;
        gap: 20px;

        .productsMain-box {
            // border: 1px solid red;
            @include my-border;
            flex: 1;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .productMain-wrapper {
        flex-direction: column;
    }
}