@import "../../Sass/-variables.scss";

.purpose-container {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 40px;
    background-image: url("../../assets/Images/about-bg.jpg");

    .purpose-right {
        flex: 40%;
        padding: 20px auto;

        .right-wrapper {
            margin-top: 40px;


            h3 {
                font-size: 34px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
                margin: 25px 0;
            }

            .right-btn {
                @include my-button;
            }
        }
    }

    .purpose-left {
        flex: 60%;

        .left-wrapper {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .purpose-info-top {
                flex: 1;
                display: flex;
                justify-content: center;
                gap: 20px;
            }

            .purpose-info {
                padding: 10px;
                flex: 1;

                svg {
                    font-size: 40px !important;
                    color: $primary-color;
                }

                h4 {
                    font-size: 25px;
                    margin: 10px auto;
                }


                p {
                    line-height: 25px;
                }
            }

            .purpose-info-bottom {
                flex: 1;
                gap: 20px;
                display: flex;
                justify-content: center;
                align-items: start;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .purpose-container {
        flex-direction: column;
    }

    .purpose-info-top {
        flex-direction: column;
    }

    .purpose-info-bottom {
        flex-direction: column;
    }

    .purpose-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @include my-border;
        width: 100%;

        p {
            display: none;
        }
    }

    .right-btn {
        width: 100% !important;
    }
}

@media screen and (min-width:600px) {
    .purpose-container {
        flex-direction: column;
    }

    .purpose-info-top {
        flex-direction: column;
    }

    .purpose-info-bottom {
        flex-direction: column;
    }

    .purpose-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @include my-border;
        width: 100%;

        p {
            display: block;
        }
    }
}

@media screen and (min-width:992px) {
    .purpose-container {
        flex-direction: row;
    }

    .purpose-info-top {
        flex-direction: row;
    }

    .purpose-info-bottom {
        flex-direction: row;
    }

    .purpose-info {
        display: block;
        gap: 20px;
        box-shadow: none;
        width: 100%;

        p {
            display: block;
        }
    }
}