@import '../../Sass/-variables.scss';

.service-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 32px;
        color: $text-color;
    }

    p {
        margin-bottom: 30px;
    }
}

.service-box-wrapper {
    display: flex;
    padding:  20px;
    gap: 20px;

    .service-box {
        flex: 1;
        padding: 20px;
        @include my-border();
        display: flex;
        flex-direction: column;
        gap: 30px;

        h4 {
            font-size: 18px;
        }

        svg {
            color: $primary-color;
            font-size: 40px;
        }
    }
}

@media screen and (max-width:600px) {
    .service-box-wrapper{
        flex-direction: column;

        .service-box{
            flex-direction: row;
            justify-content: start;
            align-items: center;
            p{
                display: none;
            }
        }
    }
}

@media screen and (min-width:600px) {
    .service-box-wrapper{
        flex-direction: column;
    }
}

@media screen and (min-width:992px) {
    .service-box-wrapper{
        flex-direction: row;
    }
}