@import '../../Sass/-variables.scss';

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 4;

    .nav-logo {
        border-radius: 10px;
        overflow: hidden;

        .nav-logo-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            h3 {
                text-decoration: none;
                color: $second-color;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
            }

            img {
                width: 80px;
            }
        }
    }

    .nav-item {
        @include my-flex;
        gap: 20px;
        transition: all 0.5s ease-in-out;

        .nav-link {
            @include my-flex;
            gap: 5px;
            text-decoration: none;
            color: $primary-color;
            font-weight: 600;
        }

        span {
            font-size: 18px;
        }

        .active {
            color: $second-color;
        }
    }

    .active {
        color: red;
    }

    .nav-cart {
        @include my-flex;
        gap: 20px;


        .divider::after {
            content: "|";
        }



        .userActive,
        .cartActive {
            color: $primary-color;
        }

        a {
            color: black;
            display: flex;

            svg {
                cursor: pointer;
                font-size: 25px;
                transition: all 0.2s;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }





    .nav-mini {
        display: none;

        svg {
            font-size: 24px;
        }
    }
}

@media screen and (max-width:740px) {
    .nav-mini {
        display: block !important;
        margin-left: auto;
        position: absolute;
        z-index: 3;
    }

    .nav-logo {
        opacity: 0;
    }

    .nav-container {
        position: relative;

        .nav-item {
            position: absolute;
            z-index: 2;
            top: -300px;
            left: 0;
            right: 0;
            flex-direction: column;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(4px);
            padding-top: 45px;
        }

        .nav-item[data-flag="true"] {
            top: 0;
        }
    }
}