.housePlants-container {
    width: 90%;
    margin: 100px auto;

    h2{
        text-align: center;
        margin-bottom: 20px;
    }

    p{
        text-align: justify;
    }
    
    .housePlants-wrapper {
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}