@import '../../Sass/-variables.scss';

.footer-container {
    width: 100%;
    margin-top: 200px;
    background-color: $primary-color;

    .footer-wrapper {
        display: flex;
        margin-bottom: 20px;

        .footer-right {
            flex: 1;
            text-align: center;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .right-menu-img {
                width: 50px;
                height: 50px;
                background-image: url("../../assets/Images/logo.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                border-radius: 5px;
            }

            .right-item {
                .right-item-link {
                    text-decoration: none;
                    color: $second-color;
                    font-size: 18px;
                    font-weight: 600;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }

        .footer-middle {
            flex: 2;

            .footer-newsletter {
                padding: 40px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }

                .footer-newsletter-box {
                    margin-top: 20px;
                    border-radius: 200px;
                    overflow: hidden;

                    input,
                    button {
                        padding: 12px;
                        border: none;
                        outline: none;
                    }

                    input {
                        width: 300px;
                    }

                    button {
                        cursor: pointer;
                        background-color: $second-color;
                        transition: all 0.3s;
                        color: white;

                        &:hover {
                            background-color: green;
                            color: white;
                        }
                    }
                }
            }
        }

        .footer-left {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;

            .foooter-left-wrapper {
                background-color: #eee;
                padding: 20px;
                margin-top: -120px;
                border-top: 5px solid $primary-color;
                border-radius: 5px;

                .footer-social {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;

                    svg {
                        color: $primary-color;
                        font-size: 30px;
                        transition: all 0.4s;
                        cursor: pointer;

                        &:hover {
                            color: $second-color;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid black;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }
}