@font-face {
    font-family: "Parastoo";
    src: url("./assets/font/Parastoo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Parastoo', sans-serif;
}