@import './Sass/-variables.scss';

@font-face {
    font-family: "ParastoO";
    src: url('./assets/font/Parasto/Parastoo-FD.eot');
    src: url('./assets/font/Parasto/Parastoo-FD.ttf') format('truetype'),
        url('./assets/font/Parasto/Parastoo-FD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Parastoo';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $second-color;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-color;
    border-radius: 10px;

}